*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;

}
.hero-img{
    background-image: url(hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.hero-wrapper{
    color: #a2ff15;
    position: absolute;
    top: 50%;
    left: 25%;
}
.hero-wrapper h1{
    font-size: 58px;
    text-align: center;
    font-weight: bolder;
}
.hero-wrapper p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    
}
.hero-wrapper .code{
    display: block;
    width: 100%;
    margin-left: 200px;
    margin-top: 50px;
}
.hero-wrapper .code input{
    border-radius: 30px;
    height: 50px;
    width: 50%;
    text-align: center;
}
.hero-wrapper .code button{
    height: 50px;
    width: 25%;
    border-radius: 40px;
    text-align: center;
    margin-left: 15%;
    margin-top: 30px;
    background-color: rgb(88, 84, 84);
    outline: null;
    border: none;
transition: 0.5s;

}
.hero-wrapper .code button:hover{
background-color: whitesmoke;
border: 2px solid burlywood;
}
.product{
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
.product-list{
    float: left;
    width: 33.33%;
}
